.login-background {
    background-image: url('https://logincdn.msauth.net/shared/5/images/49_7916a894ebde7d29c2cc.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 338px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 70%;
    height: auto;
    margin-top: -60px;
}

.content-box {
    margin-top: 70px;
}

p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
}

.LoginButton {
    background-color: #12672F;
    color: white;
    padding: 10px 20px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.LoginButton:hover {
    background-color: #12672F;
}