.tickets-container {
    margin-top: 200px; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto; 
}

.tickets-table {
    width: 100%; 
    border-collapse: collapse; 
}

.tickets-table thead th {
    background-color: #f5f5dc; 
    color: #333; 
    font-weight: bold;
    text-align: left; 
    padding: 12px; 
    border-bottom: 2px solid #ccc; 
    border-top: 2px solid #ccc;
}

.tickets-table td {
    padding: 15px; 
    text-align: left; 
    border-bottom: 1px solid #e0e0e0; 
}



.tickets-table tr:hover {
    background-color: #f1f1f1; 
}

.create-ticket-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px; 
    padding: 12px 24px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin-bottom: 10px; 
}

.create-ticket-button:hover {
    background-color: #218838; 
    transform: translateY(-2px); 
}

.tickets-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    justify-content: center; 
    flex-direction: column; 
}

.tickets-header h2 {
    margin-top: 10px; 
    font-size: 24px; 
    color: #333; 
}

.status-indicator {
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 20px; 
    color: white; 
    font-weight: bold; 
}

.status-in-progress {
    background-color: #3a98fd; 
}

.status-created {
    background-color: #28a745; 
}

.status-archived {
    background-color: #dc3545; 
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button, .page-button {
    margin: 0 5px;
    padding: 8px 12px;
    border: none;
    background-color: #007bff; 
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.pagination-button:disabled, .page-button.active {
    background-color: #0056b3; 
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled), .page-button:hover:not(.active) {
    background-color: #0056b3;
    transform: translateY(-1px); 
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container label {
    margin-right: 10px;
    font-weight: bold; 
}

.filter-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc; 
    transition: border-color 0.3s ease; 
}

.filter-container select:focus {
    border-color: #4a90e2;
    outline: none;
}
